@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 4mm;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
  background-color: #000000;
  color: #ffffff;
}

h3 {
  font-size: 1.5em;
  border-bottom: 2px solid #000000;
}

h4 {
  padding-left: 8px;
  font-size: 1.25em;
  border-left: 8px solid #000000;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}